<h2> Wallet List </h2>
<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col"> ID      </th>
    <th scope="col"> Name    </th>
    <th scope="col"> Balance </th>
    <th scope="col"> Actions </th>
<!--    <th scope="col"> Add Funds </th>-->
  </tr>
  </thead>

  <tbody>
 <tr *ngFor="let wallet of wallets">
   <td>{{ wallet.id }}</td>
   <td>{{ wallet.name }}</td>
   <td>{{ wallet.balance }}</td>
   <td>
     <input type="button" class="btn btn-info" (click)="updateWallet(wallet)" value="Update" >
     <button class="btn btn-danger" style="margin-left: 10px" (click)="deleteWallet(wallet.id)"  > Delete </button>
   </td>

   <td>
     <button class="btn btn-success" (click)="addFundsToWallet(wallet.id)">Add Funds</button>
   </td>

   <td>
     <button class="btn btn-success" (click)="fundTransfer(wallet.id)"> Fund Transfer </button>
   </td>

   <td>
     <button class="btn btn-success" (click)="withdrawFunds(wallet.id)"> Withdraw Funds </button>
   </td>
 </tr>
  </tbody>
</table>
