<div class="container">
  <h3> New Wallet Registration </h3>
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="id">ID</label>
      <input type="number" class="form-control" id="id"
             required minlength="1"
             [(ngModel)] = "wallet.id" name = "id" >

    </div>

    <div class="form-group">
      <label>Name</label>
      <input type="text" id="name" name="name" class="form-control"
             required minlength="4"
             [(ngModel)]="wallet.name" #name="ngModel">

      <div *ngIf="name.invalid && (name.dirty || name.touched)"
           class="alert">

        <div *ngIf="name.errors?.['required']">
          Name is required.
        </div>
        <div *ngIf="name.errors?.['minlength']">
          Name must be at least 4 characters long.
        </div>

      </div>

    </div>

    <div class="form-group">
      <label>Balance</label>
      <input type="number" class="form-control" id="balance"
             [(ngModel)] = "wallet.balance" name = "balance">
    </div>


    <button class = "btn btn-success" type="submit">Submit</button>

  </form>

</div>

